
*.vdi
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/NON_SHARABLE.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/NON_SHARABLE.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Ejercicios_MongoDB/NON_SHARABLE.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/NON_SHARABLE.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-16.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-17.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-18.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-19.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-20.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-21.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/CSVs/sms-call-internet-mi-2013-12-22.csv
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-16.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-17.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-18.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-19.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-20.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-21.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/JSONs/sms-call-internet-mi-2013-12-22.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-16.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-17.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-18.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-19.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-20.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-21.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/Data/TXTs/sms-call-internet-mi-2013-12-22.txt
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/__pycache__/NON_SHARABLE.cpython-38.pyc
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/CDR/__pycache__/NON_SHARABLE.cpython-38.pyc
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Ejercicios_MongoDB/__pycache__/NON_SHARABLE.cpython-38.pyc
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Ejercicios_MongoDB/NON_SHARABLE.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Ejercicios_MongoDB/__pycache__/NON_SHARABLE.cpython-38.pyc
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/NON_SHARABLE.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/__pycache__/NON_SHARABLE.cpython-38.pyc
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/screening_Mol-database-only_mongo_p.py
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS29/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.metadata.json
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/molecules.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Caracterizacion y Prediccion/dump/dump/CDS16/mfp_counts.bson
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/Diseño de Farmacos/Caracterizacion y Prediccion/screening_Mol-database-only_mongo_p.py
*.ova
1º Cuatrimestre/\[CS\] - Ciberseguridad/Prácticas/metasploitable-linux-2.0.0/Metasploitable2-Linux/Metasploitable.vmdk
*.tgz
*.java
*.R
*.scala
*.crc
*.parquet
*.orc
*.JdbcConnectionProvider
*.SparkSessionExtensionsProvider
1º Cuatrimestre/\[CNC\] - Clasificación No Convencional/Prácticas/Practica3/lshtc/test-remapped/test-remapped.csv
1º Cuatrimestre/\[CNC\] - Clasificación No Convencional/Prácticas/Practica3/lshtc/test/test.csv
1º Cuatrimestre/\[CNC\] - Clasificación No Convencional/Prácticas/Practica3/lshtc/train-remapped/train-remapped.csv
1º Cuatrimestre/\[CNC\] - Clasificación No Convencional/Prácticas/Practica3/lshtc/train/train.csv
*.gz
*.gz
*.lock
1º Cuatrimestre/\[ADP\] - Análisis, Diseño y Procesamiento de Datos Aplicados a las Ciencias y a las Tecnologías/Prácticas/GPS Track/LocationTrack.tar.gz
*.gz
*.zip
